*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

h2{
  font-size: 32px;
  padding-top: 90px;
  text-align: center;
}

h3{
  font-size: 20px;
}

header{
  background-color: #ec715f;
}

.header-item{
  width: 1024px;
  height: 70px;
  margin: 0 auto;
  display: flex;
}

.logo{
  margin-right: auto;
  margin-left: 0;
}

.site-logo{
  height: 70px;
}

.nav-list{
  width: 480px;
  height: 70px;
  align-items: center;
  display: flex;
}

.nav-list-item{
  width: 120px;
  list-style: none;
  font-size: 16px;
  padding: 0 30px;
  display: inline-block;
}

.nav-list-item > a{
  color: #fafafa;
}

.main-v{
  width: 100%;
  height: 650px;
  color: #fafafa;
  background-image: url(img/mv.png);
  background-size: cover;
  background-position: center;
  text-align: center;
}

.mv-title{
  font-size: 64px;
  padding-top: 200px;
}

.mv-text{
  font-size: 20px;
  margin-top: 10px;
}

.portfolio{
  width: 100%;
  background-color: #eceff1;
  color: #000000;
}

.title::after{
   content: "";
   display: block;
   width: 70px;
   height: 3px;
   background-color: #ec715f;
   margin: 0 auto;
   margin-top: 8px;
   bottom: 0;
   left: 10px;
}

.text{
  margin-top: 30px;
  text-align: center;
}

.contents{
  width: 920px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 90px;
  display: flex;
  flex-wrap: wrap;
}

.content{
  width: 300px;
  height: 250px;
  margin: 10px 10px 0 0;
  background-size: cover;
  background-position: center;
}

.content:nth-child(-n+3){
  margin-top: 0;
}

.content:nth-child(3n){
  margin-right: 0;
}

.img1{
  background-image: url(img/sketch.jpg);
}

.img2{
  background-image: url(img/websuku.png)
}

.img3{
  background-image: url(img/write.jpg)
}

.img4{
  background-image: url(img/webcamp.png)
}

.img5{
  background-image: url(img/talk.jpg)
}

.img6{
  background-image: url(img/webcamp-mother.png)
}

.feature{
  width: 100%;
  color: #000000;
  text-align: center;
}

.strengths{
  width: 980px;
  margin: 0 auto;
  padding: 30px 0 90px 0;
  display: flex;
}

.strength{
  width: 320px;
  margin-right: 10px;
}

.strength:last-child{
  margin-right: 0;
}

.icon{
  font-size: 60px;
  padding: 15px 0;
}

.str-title{
  padding: 10px 0;
}

.str-text{
  font-size: 16px;
  text-align: left;
}

.profile{
  width: 100%;
  background-color: #eceff1;
  color: #000000;
}

.my-profile{
  width: 1024px;
  margin: 0 auto;
  padding: 30px 0 90px;
  display: flex;
}

.pr-left{
  width: 512px;
}

.my-icon{
  background-image: url(img/my-icon.jpg);
  border-radius: 50%;
  width: 250px;
  height: 250px;
  margin: 0 auto;
}

.pr-right{
  width: 512px;
}

.detail-title{
  padding-bottom: 5px;
}

.detail-text{
  padding-bottom: 20px;
}

.contact{
  width: 100%;
  color: #000000;
}

.contact-way{
  width: 800px;
  margin: 0 auto;
  padding: 30px 0 90px;
  display: flex;
}

.way-left{
  width: 400px;
}

.infomation{
  width: 130px;
  margin: 0 auto;
}

.infomation > a{
  color: #000000;
}

.info-title{
  margin:20px 0 5px;
}

.info-title:first-child{
  margin-top: 0;
}

.link{
  text-decoration: underline;
}

.way-right{
  width: 400px;
}

.sns{
  width: 170px;
  margin: 0 auto;
}

.sns-icon{
  font-size: 46px;
  padding-right: 20px;
}

.sns-icon:last-child{
  padding-right: 0;
}

footer{
  height: 60px;
  background-color: #ec715f;
}

.footer-text{
  font-size: 16px;
  color: #fafafa;
  line-height: 60px;
  text-align: center;
}
