*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: #fafafa;
}
h1{
  font-size: 64px;
}

h2{
  font-size: 32px;
}

h3{
  font-size: 20px;
}

header{
  background-color: #ec715f;
}

.header-item{
  width: 1024px;
  height: 70px;
  margin: 0 auto;
  display: flex;
}

.logo{
  margin-right: auto;
  margin-left: 0;
}

.site-logo{
  height: 70px;
}

.nav-list{
  width: 480px;
  height: 70px;
  align-items: center;
  display: flex;
}

.nav-list-item{
  width: 120px;
  list-style: none;
  font-size: 16px;
  padding: 0 30px;
  display: inline-block;
}


footer{
  height: 60px;
  background-color: #ec715f;
}

.footer-text{
  font-size: 16px;
  color: #fafafa;
  line-height: 60px;
  text-align: center;
}
